initramfs.cpio.gz
sourceroot/bin/*
!sourceroot/bin/resume-boot
output/*
!*.keep
sourceroot/lib/*
sourceroot/etc/*
!sourceroot/etc/profile
!sourceroot/etc/profile.d
!sourceroot/etc/suspend.conf
sourceroot/config
bootstrap/binaries
bootstrap/build_dir
bootstrap/distfiles
