initramfs.cpio.gz
sourceroot/bin/*
!sourceroot/bin/resume-boot
!*.keep
sourceroot/lib/*
sourceroot/etc/*
!sourceroot/etc/profile
!sourceroot/etc/profile.d
sourceroot/config
bootstrap/binaries
bootstrap/build_dir
bootstrap/distfiles
